{% extends "base.html" %}

{% block content %}
<div class="section">
    <div class="container container-single">
        <h1>b01lers bot</h1>
    </div>
</div>
<div class="section">
    <div class="container container-single">
        <p>A Discord bot made for the b01lers CTF club with various participation tracking, administration, and utility commands.</p>
    </div>
</div>
<div class="section">
    <div class="container container-double">
        <div class="column">
            <p>The bot is coded in <strong>Python</strong> using the <strong>discord.py</strong> wrapper, and <strong>SQLite</strong> for the backend data storage.</p>

            <p>It started off as a simple task: just refactor some hastily-written code. I soon started adding many more features to the bot, which included an aesthetic overhaul, many moderation commands, as well as an activity tracker.</p>
        </div>
        <div class="column">
            <img class="project-img fit-width" src="{{ url_for('static', filename='resources/project/b01lers-1.jpg') }}"/>
        </div>
    </div>
</div>
<div class="section">
    <div class="container container-double">
        <div class="column">
            <img class="project-img fit-width" src="{{ url_for('static', filename='resources/project/b01lers-2.jpg') }}"/>
        </div>
        <div class="column">     
            <p>This was the first project I've worked on that's been deployed on a live server and actively used by other people.</p>
            
            <p>It was a lot of fun (and stress-inducing) live-patching bugs and incrementally adding new features. No matter what, it's always cool to see something that you built in action.</p>
        </div>
    </div>
</div>
<div class="section">
    <div class="container container-double">
        <div class="column">     
            <p>I took this opportunity to experiment with a lot of things, such as custom "callable" entities for each command, and function decorators to link commands to the bot. This was also my first time working with SQL and web requests in a substantial manner.</p>
                
            <p>Overall, I'm satisfied with what I learned from this project, and am excited to continue development on it.</p>
        </div>
        <div class="column">
            <img class="project-img fit-width" src="{{ url_for('static', filename='resources/project/b01lers-3.jpg') }}"/>
        </div>
    </div>
</div>
{% endblock %}