{% extends "base.html" %}

{% block content %}
<div class="section">
    <div class="container container-single">
        <h1>farm assist</h1>
    </div>
</div>
<div class="section">
    <div class="container container-single">
        <p>A farming data visualizer made for the AITP Computing Challenge Day Fall 2020 and HackTX 2020.</p>
    </div>
</div>
<div class="section">
    <div class="container container-double">
        <div class="column">

        </div>
        <div class="column">

        </div>
    </div>
</div>
{% endblock %}