{% extends "base.html" %}

{% block content %}
<div class="section">
    <div class="container container-single">
        <h1>FRC data analytics <a href="https://github.com/richzli/frc-analytics" target="_blank"><img class="project-icon-link" src="{{ url_for('static', filename='resources/logos/github.svg') }}" height="30" /></a></h1> 
    </div>
</div>
<div class="section">
    <div class="container container-single">
        <p>This is an app I developed for my high school robotics team to calculate competing teams' stats.</p>
    </div>
</div>
<div class="section">
    <div class="container container-double">
        <div class="column">
            <p>The application was fully developed in <strong>Python</strong>. Libraries used include <strong>tkinter</strong> for the GUI, <strong>urllib</strong> for accessing the API, and <strong>scipy</strong> and <strong>pandas</strong> for the calculations.</p><br>

            <p>I used <strong>Scrum</strong> to organize this project. Although the project was small, user stories were a great way for me to identify which parts of the application were important to develop first.</p>
        </div>
        <div class="column">
            <img class="project-img" src="{{ url_for('static', filename='resources/project/frc-analytics-menu.png') }}" style="height: 200px;" />
        </div>
    </div>
</div>
<div class="section">
    <div class="container container-single no-margin">
        <img class="project-img" src="{{ url_for('static', filename='resources/project/frc-analytics-data.png') }}" style="height: 450px" />
    </div>
</div>
{% endblock %}