{% extends "base.html" %}

{% block content %}
<div class="section">
    <div class="container container-single">
        <h1>project title</h1>
    </div>
</div>
<div class="section">
    <div class="container container-single">
        <p>some project info</p>
    </div>
</div>
<div class="section">
    <div class="container container-double">
        <div class="column">
            <p>more description</p>
        </div>
        <div class="column">
            maybe an image here
        </div>
    </div>
</div>
{% endblock %}