{% extends "base.html" %}

{% block content %}
<div class="section">
    <div class="container container-single">
        <h1>richz.li <a href="https://github.com/richzli/richz.li" target="_blank"><img class="project-icon-link" src="{{ url_for('static', filename='resources/logos/github.svg') }}" height="30" /></a></h1>
    </div>
</div>
<div class="section">
    <div class="container container-single">
        <p>I needed a personal website, so what better way than to code everything from scratch?</p>
    </div>
</div>
<div class="section">
    <div class="container container-single">
        <p>This website is built as a <strong>Flask</strong> application, and pretty much everything was coded in pure <strong>HTML</strong>, <strong>CSS</strong>, and <strong>Javascript</strong>.</p><br>

        <p>The reason I chose to use Flask instead of a static set of pages is because of the <strong><a class="internal-link" href="{{ url_for('blog') }}">blog</a></strong>, which I plan on finishing soon.</p>
    </div>
</div>
{% endblock %}