:root {
    --bg-color: white;
    --bg-color-dark: #F0F0F0;
    --dark-purple: #800080;

    scrollbar-track-color: transparent;
    scrollbar-width: none;

    font-size: 20px;
}

body {
    background-color: var(--bg-color);

    margin: 0;
    border: 0;
    padding: 0;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 80px;

    margin: 0px;
    padding: 0px;
}

h1.page-header {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

h3 {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0.5rem;
}

p strong {
    font-weight: 700;
}

.ml {
    width: 100%;
    text-align: center;

    position: fixed;
    top: 50%;
    
    transform: translate(0, -50%);
}

a.ml-away {
    color: var(--dark-purple);
    background-color: transparent;
    text-decoration: none;
}

/* main content */

main {
    width: 100%;
}

main.content {
    opacity: 0;
    transition: opacity 0.3s linear;
}

main.ml-content {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

main.show {
    opacity: 1;
}

.section {
    overflow: hidden;
}

.section:nth-child(odd) {
    background-color: var(--bg-color-dark);
}

.container {
    margin: 0 15%;
    padding: auto auto;

    align-items: center;
}

.column {
    padding: 3rem 0;
}

.container-double .column {
    width: 40%;

    text-align: center;
}

.container-double .column:first-child {
    float: left;
    text-align: right;
}

.container-double .column:last-child {
    float: right;
    text-align: left;
}

.column .stuff {
    padding: auto auto;
}