:root {
    --bg-color: white;
    --dark-purple: #680068;

    scrollbar-track-color: transparent;
    scrollbar-width: none;
}

body {
    background-color: var(--bg-color);
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 80px;

    margin: 0px;
    padding: 0px;
}

h1.page-header {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.ml {
    width: 100%;
    text-align: center;

    position: fixed;
    top: 50%;
    
    transform: translate(0, -50%);
}

a.ml-away {
    color: purple;
    background-color: transparent;
    text-decoration: none;
}

/* main content */

::-webkit-scrollbar {
    display: none;
}

main {
    display: none;
    width: 100%;
    height: 100%;
}

