{% extends "base.html" %}

{% block content %}
<div class="section" id="whoami">
    <div class="container container-double">
        <div class="column">
            <h3>
                who i am
            </h3>
        </div>
        <div class="column">
            <p>
                an <strong>undergrad</strong> at purdue university studying <strong>computer science</strong> and <strong>mathematics</strong>
            </p>

            <p>
                interested in <strong>algorithms</strong> and <strong>competitive coding</strong>
            </p>

            <p>
                idk what else to put here lmao
            </p>
        </div>
    </div>
</div>
<div class="section" id="tools">
    <div class="container container-double">
        <div class="column">
            <p>
                lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet 
            </p>
        </div>
        <div class="column">
            <h3>
                what i know
            </h3>
        </div>
    </div>
</div>
<div class="section" id="work">
    <div class="container container-double">
        <div class="column">
            <h3>
                things i've done
            </h3>
        </div>
        <div class="column">
            <p>
                lorem ipsum dolor sit amet lorem ipsum dolor sit amet lorem ipsum dolor sit amet 
            </p>
        </div>
    </div>
</div>
{% endblock %}
