{% extends "base.html" %}

{% block content %}
<div class="section" id="whoami">
    <div class="container container-double">
        <div class="column">
            <h1>
                who i am
            </h1>
        </div>
        <div class="column">
            <p>
                i'm an <strong>undergrad</strong> at purdue university studying <strong>computer science</strong> and <strong>mathematics</strong>
            </p>
            <p>
                i've been programming for about <strong><span id="coding-years"></span> years</strong> now, and my favorite languages are <strong>python</strong> and <strong>c++</strong>
            </p>
            <script type="text/javascript">
                $("#coding-years").html(new Date().getFullYear() - 2014);
            </script>
            <p>
                i'm primarily interested in <strong>cs theory</strong> and <strong>competitive coding</strong>
            </p>
            <p>
                "never be satisfied with what you already know; there are always more things to discover"
            </p>
        </div>
    </div>
</div>
<div class="section" id="work">
    <div class="container container-double">
        <div class="column">
            <h2>
                2020
            </h2>
            <div class="group">
                <p>
                    lead ta for competitive programming<br>
                    lab ta for differential equations
                </p>
                <div class="descriptor">
                    Being on the opposite side of the lecture hall helped me broaden my perspectives. From a semester and a summer of teaching my own class, I learned much about the importance of communicating ideas clearly and being open to new technologies. The feedback I recieved from my students helped inspire me to keep on going.
                </div>
            </div>
            <h2>
                2019
            </h2>
            <div class="group">
                <p>
                    started studying computer science at purdue
                </p>
            </div>
        </div>
        <div class="column">
            <h1>
                things i've done
            </h1>

            <span class="column-link"><a href="https://bit.ly/richzli-resume" target="_blank">(or grab a copy of my resume!)</a></span>
        </div>
    </div>
</div>
<div class="section" id="knowledge">
    <div class="container container-double">
        <div class="column">
            <h1>
                what i know
            </h1>
        </div>
        <div class="column icon-row-container">
            <div class="icon-row">
                <div class="icon-large">
                    <img src="static/resources/python.svg" title="Python" height="50" />
                    <div class="icon-text">python</div>
                </div>
                <div class="icon-large">
                    <img src="static/resources/java.svg" title="Java" height="50" />
                    <div class="icon-text">java</div>
                </div>
                <div class="icon-large">
                    <img src="static/resources/cplusplus.svg" title="C++" height="50" />
                    <div class="icon-text">c++</div>
                </div>
                <div class="icon-large">
                    <img src="static/resources/c.svg" title="C" height="50" />
                    <div class="icon-text">c</div>
                </div>
            </div>
            <div class="icon-row">
                <div class="icon-large">
                    <img src="static/resources/html5.svg" title="HTML" height="50" />
                    <div class="icon-text">html</div>
                </div>
                <div class="icon-large">
                    <img src="static/resources/css3.svg" title="CSS" height="50" />
                    <div class="icon-text">css</div>
                </div>
                <div class="icon-large">
                    <img src="static/resources/javascript.svg" title="JavaScript" height="50" />
                    <div class="icon-text">javascript</div>
                </div>
                <div class="icon-large">
                    <img src="static/resources/react.svg" title="React" height="50" />
                    <div class="icon-text">react</div>
                </div>
            </div>
            <div class="icon-row">
                <div class="icon-large">
                    <img src="static/resources/latex.svg" title="LaTeX" height="50" />
                    <div class="icon-text">latex</div>
                </div>
                <div class="icon-large">
                    <img src="static/resources/git.svg" title="Git" height="50" />
                    <div class="icon-text">git</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
