<html>

<head>
    <meta charset="UTF-8">

    {% if title %}
    <title>richz.li - {{ title }}</title>
    {% else %}
    <title>richz.li</title>
    {% endif %}

    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@800&family=Roboto:wght@300;700&family=Roboto+Slab&family=Open+Sans:wght@300&display=swap">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}">
    {% block styles %}{% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/link-animate.js') }}"></script>
    {% block scripts %}{% endblock %}
</head>

<body>
    {% if nav and title != "home" %}
        <header>
            <nav class="nav-top">
                <li class="nav-logo"><a href="{{ url_for('home') }}">richz.li</a></li>
                {% for page in nav %}
                    {% if page[0] == title %}
                        <li class="nav-item nav-curr">{{ page[0] }}</li>
                    {% else %}
                        <li class="nav-item"><a class="internal-link" href="{{ url_for(page[1]) }}">{{ page[0] }}</a></li>
                    {% endif %}
                {% endfor %}
            </nav>
        </header>    
        <div class="padding-header"></div>
    {% endif %}
    
    <main class="{{ 'content' if nav else 'ml-content' }}">
        {% block content %}{% endblock %}
        {% if nav and title != "home" %}
            <footer>
                <div class="footer-container">
                    <span class="footer-text">
                        © richard li<span id="year"></span>. all rights reserved.
                    </span>
                    <script type="text/javascript">
                        $("#year").html(", " + new Date().getFullYear());
                    </script>

                    <div class="footer-link">
                        <a href="https://github.com/richzli" target="_blank">
                            <img src="{{ url_for('static', filename='resources/icons/github.svg') }}" height="20" />
                        </a>
                    </div>

                    <div class="footer-link">
                        <a href="https://codeforces.com/profile/richzli" target="_blank">
                            <img src="{{ url_for('static', filename='resources/icons/codeforces.svg') }}" height="20" />
                        </a>
                    </div>

                    <div class="footer-link">
                        <a href="https://www.linkedin.com/in/richzli/" target="_blank">
                            <img src="{{ url_for('static', filename='resources/icons/linkedin.svg') }}" height="20" />
                        </a>
                    </div>

                    <div class="footer-link">
                        <a href="https://www.youtube.com/channel/UChVIUpuMHoCJDz5eZEhgqJw" target="_blank">
                            <img src="{{ url_for('static', filename='resources/icons/youtube.svg') }}" height="20" />
                        </a>
                    </div>
                </div>
            </footer>
        {% endif %}
    </main>
</body>

</html>