<html>

<head>
    <meta charset="UTF-8">

    {% if title %}
    <title>richz.li - {{ title }}</title>
    {% else %}
    <title>richz.li</title>
    {% endif %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato&family=Raleway:wght@800&family=Roboto:wght@300;700&family=Roboto+Slab&display=swap"> 
    <link rel="stylesheet" type="text/css" href="static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/nav.css">
    {% block styles %}{% endblock %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="static/js/nav.js"></script>
    {% block scripts %}{% endblock %}
</head>

<body>
    {% if nav %}
        <header>
            <nav class="nav-top">
                <li class="nav-logo"><a href="{{ url_for('home') }}">richz.li</a></li>
                {% for page in nav %}
                    {% if page == title %}
                        <li class="nav-item nav-curr">{{ page }}</li>
                    {% else %}
                        <li class="nav-item"><a href="{{ url_for(page) }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
            </nav>
        </header>    
        <div class="padding-header"></div>
    {% endif %}
    
    <main class="{{ 'content' if nav else 'ml-content' }}">
        {% block content %}{% endblock %}
        {% if nav %}
            <footer>
                <div class="footer-container">
                    <span class="footer-text">
                        © richard li, 2020. all rights reserved.
                    </span>

                    <div class="footer-link">
                        <a href="https://github.com/richzli" target="_blank">
                            <img src="static/resources/github.svg" height="20" />
                        </a>
                    </div>

                    <div class="footer-link">
                        <a href="https://codeforces.com/profile/richzli" target="_blank">
                            <img src="static/resources/codeforces.svg" height="20" />
                        </a>
                    </div>

                    <div class="footer-link">
                        <a href="https://www.youtube.com/channel/UChVIUpuMHoCJDz5eZEhgqJw" target="_blank">
                            <img src="static/resources/youtube.svg" height="20" />
                        </a>
                    </div>

                    <div class="footer-link">
                        <a href="https://www.linkedin.com/in/richzli/" target="_blank">
                            <img src="static/resources/linkedin.svg" height="20" />
                        </a>
                    </div>
                </div>
            </footer>
        {% endif %}
    </main>
</body>

</html>