{% extends "base.html" %}

{% block content %}
<div class="blog-container">
    <div class="blog-content">
        <div class="blog-post">
            <h2>a blog will be here in the near future</h2>
            <div style="height: 8px;"></div> <!-- very ugly -->
            <h3>august 20, 2020</h3><br>

            <p>I'm still working on writing the backend, so nothing's here now. But soon...</p>
        </div>
    </div>
    <div class="blog-sidebar">
        <p>topics</p>
    </div>
</div>
{% endblock %}