{% extends "base.html" %}

{% block content %}
<div class="section">
    <div class="container container-single">
        <h1>email</h1>
        <p>richzli01 at gmail dot com</p>
    </div>
</div>
<div class="section">
    <div class="container container-single">
        <h1>github</h1>
        <p>richzli</p>
    </div>
</div>
<div class="section">
    <div class="container container-single">
        <h1>twitter</h1>
        <p>@ richzli_</p>
    </div>
</div>
<div class="section">
    <div class="container container-single">
        <p>check the links at the bottom of the page!</p>
    </div>
</div>
{% endblock %}