{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="static/css/home.css">
{% endblock %}

{% block scripts %}
    <script src="static/js/particleground.min.js"></script>
    <script src="static/js/ml.js"></script>
{% endblock %}

{% block content %}
    <div class="ml home-main">
        <span class="ml-text-primary">richard li</span>
        <div class="scroll-text"><a class="ml-away" href="{{ url_for('about') }}">about me</a></div>
        <div class="scroll-text"><a class="ml-away" href="{{ url_for('projects') }}">projects</a></div>
        <div class="scroll-text"><a class="ml-away" href="{{ url_for('blog') }}">blog</a></div>
        <div class="scroll-text"><a class="ml-away" href="{{ url_for('contact') }}">contact</a></div>
    </div>
    <script src="static/js/home.js"></script>
{% endblock %}