{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/particleground.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ml.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="ml home-main">
        <span class="ml-text-primary">richard li</span>
        <!--
        {% for page in nav %}
            <div class="scroll-text"><a class="ml-away" href="{{ url_for(page[1]) }}">&gt; {{ page[0] }} &lt;</a></div>
        {% endfor %}
        -->
    </div>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}