{% extends "base.html" %}

{% block content %}
<div class="card-container">
    {% for project in projects %}
        <div class="card-holder">
            <a class="internal-link" href="{{ url_for('project_view', link=project['link']) }}">
                <div class="card" style="background-image: url({{ url_for('static', filename='resources/project/' + project['img']) }})">
                    <div class="card-content">
                        <div class="card-title">{{ project['title'] }}</div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% endblock %}